@charset "utf-8";
@import "./base/base.less";
@import "./layout.less";
@import "./_moduleColor.less";
@import "./template.less";
@font-face {
  font-family: SiYuan;
  src:url("../fonts/SourceHanSansCN-Regular.otf");
 }

.fSy{
  // 思源字体
  font-family: SiYuan;
}
 
.f14 {
  &:extend(.fSy);
  font-size: 0.16rem;
}

.f144 {
  font-size: 16px;
}
.f18 {
  &:extend(.fSy);
  font-size: 0.18rem;
}

.f22 {
  &:extend(.fSy);
  font-size: 0.22rem;
}

.f58 {
  &:extend(.fSy);
  font-size: 0.58rem;
}

//切角容器
.coner-box {
  .box-top, .box-middle, .box-bottom {
    padding: 0 .21rem;
  }
  .box-top {
    width: 100%;
    height: 1rem;
    background: url(../images/box_top_pic.png) no-repeat center top -.1rem;
    background-size: 100% 1.1rem;
    .head {
      margin-top: .05rem;
    }
  }
  .box-middle {
    min-height: 1rem;
    background: url(../images/box_middle_pic.png) repeat-y;
    background-size: 100% .01rem;
  }
  .box-bottom {
    height: .38rem;
    background: url(../images/box-bottom_pic.png) no-repeat center top;
    background-size: 100% .5rem;
  }
  .head-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding-left: .34rem;
    line-height: .78rem;
    span {
      i{
        margin-right: .18rem;
        font-size: .3rem;
        color: @graphic-color4;
      }
    }
    i {
      font-size: .24rem;
      margin-right: .28rem;
      color: #ffffff;
      cursor: pointer;
    }
  }
}


.beforeAfter {
  position: absolute;
  width: 0;  
  height: 0;
  content: '';
}


// 点线列表
.dl-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: @graphic-color9;
  dt {
    span{
      margin-right: .1rem;
    }
  }
  dd{
    span {
      margin-left: .1rem;
    }
  }
  .no-read {
    color: @graphic-color4;
  }
  i {
    font-size: .20rem;
    margin-right: .05rem;
  }
}

.dot-line-list {
  position: relative;
  padding-left: .27rem;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: .04rem;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    border-radius: .02rem;
  }
  li {
    position: relative;
    width: 100%;
    padding: .1rem .13rem .1rem .16rem;
    box-sizing: border-box;
    margin-bottom: .27rem;
    background: @theme-color3;
    box-shadow:0 .03rem .06rem rgba(0,0,0,0.16);
    .title {
      margin-bottom: .05rem;
      &:before {
        &:extend(.beforeAfter);
        left: -.25rem;
        top: 50%;
        width: .16rem;
        height: .16rem;
        border-radius: 50%;
        background-color: @graphic-color2;
        transform: translate(-50%,-50%);
      }
    }
    &::before {
      &:extend(.beforeAfter);
      left: 0;
      top: 50%;
      transform: translate(-100%,-50%);
      border: .1rem solid transparent;
      border-color: transparent rgba(0,0,0,0.16) transparent transparent;
    }
    &::after {
      &:extend(.beforeAfter);
      left: .01rem;
      top: calc(~'50% - 0.01rem');
      transform: translate(-100%,-50%);
      border: .1rem solid transparent;
      border-color: transparent @theme-color3 transparent transparent;
    }

    &.active,&:hover {
      background-color: @theme-color;
      &::after {
        border-color: transparent @theme-color transparent transparent;
      }
    }
  }
}


// 排序列表
.sort-list {
  li {
    display: flex;
    width: 100%;
    padding: .1rem .17rem .1rem .21rem;
    box-sizing: border-box;
    background-color: @graphic-color10;
    &:nth-child(even) {
      background-color: @graphic-color11;
    }
    .suqare {
      display: inline-block;
      min-width: .22rem;
      height: .22rem;
      border-radius: .02rem;
      background-color: @graphic-color2;
      text-align: center;
      line-height: .22rem;
      vertical-align: top;
      margin-right: .18rem;
      margin-top: .05rem;
    }
   
    .content {

    }
  }
}


// 区域排行
.ranking-table{
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	

	thead tr{
		height:0.74rem;
		background:#305297;
		
		th.add-th {
			text-align: left;
		}
		
		.iconicondown,.iconiconup{
			font-size: 0.12rem;
			color: rgba(255,255,255,0.3);
			cursor: pointer;
		}
	}
	tbody tr{
		height:0.39rem;
		 
		.icon-images{
			width: 0.22rem;
			height: 0.3rem;
			display: inline-block;
			text-align: center;
			line-height: .22rem;
			vertical-align: top;
		}
		
		.iconone1{
			background: url(../../images/sort1.png) no-repeat center top;
			background-size: 100%;
		}
		.iconone2{
			background: url(../../images/sort2.png) no-repeat center top;
			background-size: 100%;
		}
		.iconone3{
			background: url(../../images/sort3.png) no-repeat center top;
			background-size: 100%;
		}
	}
	tbody tr:nth-child(even){
		background:#29539E;
	}
	
	th {
		font-weight: normal;
	}
	.schedule {
		.bar{
			width:1.25rem;
			height:0.16rem;
			border-radius:0.09rem;
			display: inline-block;
			
			div{
				height:0.16rem;
				border-radius:0.09rem;
			}
		}
		span{
			color:#fff;
		}
	}
	
	.add-color{
		color: @graphic-color4;
	}
	
	.iconredianguanzhu,.iconzu8{
		color: @graphic-color4;
		font-size: 0.28rem;
	}
	
	.iconzu9{
		color: #FFFFFF;
		font-size: 0.12rem;
		
	}
	.iconlujing1{
		float: right;
		margin-right: 0.26rem;
		color: #FFFFFF;
	}
	
	.suqare {
	  display: inline-block;
	  min-width: .22rem;
	  height: .22rem;
	  border-radius: .04rem;
	  background-color: @graphic-color2;
	  text-align: center;
	  line-height: .22rem;
	  vertical-align: middle;
	}
	
	.rank-red{
		background:@graphic-color3;
	}
	
	.rank-yellow{
		background:@graphic-color4;
	}
	
	.rank-blue{
		background:@graphic-color2;
	}
	
	.rank-green{
		background:@graphic-color1;
	}
}

// 搜索框
.search.el-input {
  .el-input__inner {
    background-color: @theme-color3;
    border: .01rem solid @theme-color;
    height: .4rem;
    line-height: .4rem;
    border-radius: .04rem;
  }
  .el-input__suffix {
    right: .18rem;
  }
  .el-input__icon {
    width: .24rem;
    color: @graphic-color1;
    line-height: .4rem;
  }
} 
.el-input--suffix .el-input__inner {
  padding-right: .45rem;
}


// 弹窗内控制

.border-dash {
  padding: .14rem;
  border:.01rem dashed @graphic-color2;
  border-radius: .04rem;
  color: @graphic-color12;
  margin-bottom: .2rem;
}
.el-select {
  width: 100%;
}

// 穿梭框
.trans-wrap {
  display: flex;
  padding: .2rem 0;
  border-radius: .04rem;
  background-color: @theme-color;
  color: #ffffff;
  .left,.right {
    width: 50%;
    &.left {
      padding-right: .2rem;
      padding-left: .2rem;
      border-right: .01rem solid @graphic-color2;
    }
    &.right {
      padding-left: .34rem;
      padding-right: 0;
      span:first-child {
        margin-right: .2rem;
      }
      .warn {
        color: @graphic-color4;
      }
      .primary {
        color: @graphic-color2;
      }
    }
  }
}

// 单选框内容箭头设置
.el-radio.is-checked:nth-child(2) .el-radio__input {
  position: relative;
  &::before {
    position: absolute;
    width: 0;
    height: 0;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translate(-50%,60%);
    border: .1rem solid transparent;
  }
  &.is-checked {
    &::before {
      border-color: transparent transparent @theme-color transparent;
    }
  }
}
.radio-select-wrap {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: @theme-color;
}

// 配置框
.configuration {
  width: 7rem;
  color: #ffffff;
}

.data-preview {
  flex: 1;
  color: #ffffff;
}