@charset "utf-8";
@import "./base/conn.less";
@import "./_moduleColor.less";

html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

//美化滚动条
.scroll-container {
  padding: .15rem;
  overflow: auto;
  .row {
    margin: 0;
    line-height: 1.5;
  }

  &::-webkit-scrollbar {
    // 底色
    width: .08rem;
    background: transparent; 
  }
  &::-webkit-scrollbar-corner, /* 滚动条角落 */
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-radius: .04rem;
  }
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    /* 滚动条轨道 */
    background-color: rgba(180, 160, 120, 0);
    box-shadow: inset 0 0 .01rem rgba(180, 160, 120, 0.5);
  }
  &::-webkit-scrollbar-thumb {
    /* 滚动条手柄 */
    background-color: rgba(255,255,255,.3);
  }
 }

.yuQingContainer{
  height: 100%;
  min-width: 19.2rem;
  min-height: auto;
  padding: 0.43rem 0.38rem;
  background-color: @theme-color3;
  box-sizing: border-box;
  color: #ffffff;
  overflow: hidden;
  // 布局左中右
  .conter {
    width: 100%;
    margin-top: 0.14rem;
    height: calc(~'100% - .92rem');
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    .body-box {
      height: calc(~'100% - .78rem');
    }
    // 平角背景色
    .flatAngle{
        background-color: @theme-color2;
    }
    .conter-left {
      width: 40%;
      background:url(../images/forense-left.png) no-repeat;
      .conterLeft-bottom-item{
        font-size: 0.18rem;
        .sort-list{
            cursor: pointer;
            height: 0.84rem;
            padding: 0.12rem 0.2rem 0.1rem 0.18rem;
        }
    }
    .hostSort.img{
        width: 0.42rem;
        height: 0.59rem;
        margin-right: 0.19rem;
        
    }
    .hostSort.sort0{
        background: url('../images/sort1.png') no-repeat;
        background-size: 100% 100%;
    }
    .hostSort.sort1{
        background: url('../images/sort2.png') no-repeat;
        background-size: 100% 100%;
    }
    .hostSort.sort2{
        background: url('../images/sort3.png') no-repeat;
        background-size: 100% 100%;
    }
    .hostSort.number{
        display: block;
        width: 0.48rem;
        height: 0.48rem;
        text-align: center;
        line-height: 0.48rem;
        margin-right: 0.16rem;
        font-size: 0.3rem;
        background-color: #4C91F5;
        border-radius: 0.06rem;
    }

    }
    .conterLeft-top{
        height: 3.53rem;
    }
    .conterLeft-bottom{
        height: 100%;
    }
    .conter-middle {
      margin: 0 0.06rem;
      width: 60%;
      height: 100%;
      background:url(../images/forense-middle.png) no-repeat;
    }
    .conter-right {
      width: 40%;
      height: 100%;
      .radiusBox-bottom,.radiusBox-top{
           padding: 0.22rem;
           height: 50%;
           background: url('../images/forense-right.png') no-repeat;
           background-size: 100% 100%;
       }
       .radiusBox-top{
           padding-bottom: 0.22rem;
           margin-bottom: 0.08rem;
       }
       .radiusBox-bottom{
           padding-top: 0.12rem;
       }
    }
    .sortConter{
        flex-direction: column;
    }
    .sortConter-top{
        width: 100%;
    }

    .sortConter-bottom{
        width: 100%;
        color: #81A0D3;
    }
    .sortConter-host{
        color: #fdd835;
        i{
            color: @graphic-color4;
        }
    }
    .conter-left,.conter-middle,.conter-right {
        height: 100%;
        padding: 0.24rem;
        background-size: 100% 100%;
      }
    .conter-right{padding: 0;}
    .iconlujing1 {
      font-size: .24rem;
    }

    // 布局重置
    .conter-middle-reset {
      background:none;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      .middle-top {
        height: 1.88rem;
        padding-top: .08rem;
        box-sizing: border-box;
        margin-bottom: .1rem;
      }
      .coner-wrap {
        width: 100%;
        // height: 6.75rem;
        height: calc(~'100% - 1.98rem');
        padding: 0.24rem;
        box-sizing: border-box;
        background:url(../images/coner_box_pic.png) no-repeat center center;
        background-size: 100% 100%;
        .wrap-top {
          height: 43%;
        }
        .wrap-bottom {
          width: 100%;
          height: 57%;
          min-height: 2.92rem;
          display: flex;
          .bottom-left {
            width: 3.2rem;
          }
          .bottom-right {
            flex: 1;
          }
        }
        
      }
    }
  }
}
//  头部样式
#app{
    padding: 0 0.22rem;
    .flexBetween{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flexStatr{
        display: flex;
        align-items: center;
    }
    .flexAround{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-header{
        width: 100%;
        height: 0.92rem;
        padding: 0.22rem 0.22rem 0.19rem 0.4rem;
        box-sizing: border-box;
        background-color: @theme-color;
        h2{
            font-size: 0.58rem;
        }
    }
    .navbar-title{
        height: 100%;
        .navbarIcon{
            width: 0.46rem;
            cursor: pointer;
            color: @graphic-color4;
			
			i.iconfont {
				font-size: 0.46rem;
			}
            
        }
    }
    .navbar-right{
        height: 100%;
		
		i.iconfont{
			font-size: .2rem;
		}
    }
    .navbar-line{
        display: block;
        height: 100%;
        width: 1px;
        margin: 0 0.2rem 0 0.4rem;
        background-color: #4E74B5;
    }
    .navbar-time{
        font-size: 0.24rem;
        // font-weight:400;
    }
    .timer-week{
        margin: 0 0.32rem 0 0.14rem;
    }
    .time-hours{
        font-size: 0.38rem;
        color: @graphic-color4;
        margin-right:0.36rem;
    }
    .navbar-user{
        font-size: 0.28rem;
        .userImg{
            width: 0.26rem;
            margin-right: 0.12rem;
        }
    }
    .rightIcon{
        // width: 0.3rem;
        // height: 0.3rem;
        position: relative;
        cursor: pointer;
        font-size: 0.3rem;
        margin-left: 0.2rem;
        &:hover{
            .topTooltip{
                display: block;
            }
        }
        .topTooltip{
            display: none;
            padding: 0.1rem 0.18rem; 
            font-size: 0.16rem;
            color: #000;
            position: absolute;
            white-space: nowrap;
            bottom: 110%;
            left: 50%;
            border-radius: 0.06rem;
            transform: translateX(-50%);
            background:rgba(243,175,27,1);
            box-shadow:0px 1px 9px rgba(0,0,0,0.16);
            &::after{
                content: '';
                display: block;
                width: 0.2rem;
                height: 0.2rem;
                background-color: rgba(243,175,27,1);
                transform: rotate(45deg);
                position: absolute;
                left: 45%;
                z-index: -1;
                bottom: -12%;
                
            }
        }
    }
    .navbar-Ordenar{
      
    }
	
	// 输入框
	.seachInput{
		position: relative;
		
		.el-input {
			width: 5.7rem;
				.el-input-group__prepend{
					background-color: #1B418D;
					border-color: #1B418D;
					
					&:after{
						content: " ";
						display: block;
						position: absolute;
						border-right: 1px solid #467DAB;
						width: 1px;
						height: 0.4rem;
						right: 0;
						top: 0.1rem;
					}
				}
				
				
				.el-input__inner{
					height: 0.58rem;
					background-color: #1B418D;
					border-color: #1B418D;
					font-size: .32rem;
					color: #ffffff;
				}
				
				
				.iconzu6 {
					color: @graphic-color4;
					font-size: 0.3rem;
				}
				
				.iconlujing8 {
					font-size: .18rem;
					color: #FFFFFF;
				}
				
				.el-input__icon {
					width: 0.3rem;
				}
				
				.rotateActive {
					transform: rotate(-180deg);
				}
		}
		
		.el-collapse-item__arrow{
			color: #FFFFFF;
			opacity: 0.3;
			
			&:before {
				font-family: "iconfont" !important;
				content: "\e620";
				color: #ffffff;
				font-size: 0.12rem;
			}
		}
		
		.drop-contain {
			width: 5.7rem;
			max-height: 6.94rem;
			position: absolute;
			left: 0;
			background: @theme-color3;
			z-index: 9;
			top: 0.62rem;
			box-shadow: 0px 3px 6px rgba(0,0,0,0.52);
			border-radius: 6px;
			padding: 0.3rem;
			
			.button-top {
				display: flex; 
				justify-content: space-between;
				 
				.el-button{
					font-size: .18rem;
					color: #000000;
				}
			}
			
			.accordion-center {
				position: relative;
				padding-top: 0.14rem;
				
				.el-collapse{
					border: none;
				}
				.el-collapse-item__header{
					border: none;
					background:@theme-color3;
					font-size: .22rem;
					color: @graphic-color4!important;
					height: 0.42rem;
					padding-left: 0.3rem;
					
					
				}
				.el-collapse-item__wrap{
					border: none;
					background:@theme-color3;
				}
				
				.el-collapse-item__content{
					color: #FFFFFF;
					padding-bottom: 0;
				}
				
				.el-collapse-item__arrow{
					position: absolute;
					z-index: 1;
					left: 0;
					&:before {
						content: "\e625";
						font-size: 0.12rem;
					}
				}
			}
			
			.boxs-center {
				height: 0.82rem;
				background: #305297;
				border-radius: 5px;
				margin: 0.14rem 0;
				display: flex;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: space-between;
				padding: 0 0.2rem;
				
				.boxs-icon {
					cursor: pointer;
					i{
						padding-right:0.08rem ;
					}
				}
				.dl-info {
					font-size: .14rem;
				}
				
				p{
					line-height: 2;
					font-size: .18rem;
				}
			}
			
			.border-dash {
				margin-bottom: 0;
			}
			
			.boxs-echart {
				width: .52rem;
				height: 0.82rem;
			}
		}
	}
}

// 侧边栏样式
#navbar-right{
    position: absolute;
    left: 0;
    margin-top: 0.04rem;
    width: 0.6rem;
    &:hover{
        .navbar-big{
            display: block;
        }
    }
    .navbar-ul{
        margin-top: 0.34rem;
        li{
            font-size: 0.42rem;
            color: @graphic-color4;
            margin-bottom: 0.8rem;
            text-align: center;
            width: 0.44rem;
            height: 0.44rem;
            line-height: 0.44rem;
            cursor: pointer;
            &:hover,&:active,&.active{
                color:  @graphic-color2;
            }
			
			span.iconfont {
				font-size: 0.34rem;
			}
        }
    }
    .navbar-big{
        position: absolute;
        display: none;
        left: 100%;
        top: 0;
        width: 1.2rem;
        z-index: 9;
        color:  @graphic-color2;
       
        li{
            width: 100%;
            background-color: #052D7C;
            height: 1.2rem;
            // line-height: 1.2rem;
            text-align: center;
            cursor: pointer;
            span{
                display: inline-block;
                margin: 0.24rem auto 0.15rem;
            }
            &:hover,&:active,&.active{
                color:  @graphic-color4;
                background-color: @theme-color2;
            }
			span.iconfont {
				font-size: 0.34rem;
			}
        }
    }


}


//    公用标题模块样式
.comTitleBox{
    display: flex;
    height: 0.78rem;
    align-items: center;
    position: relative;
    .incnEdit{
        position: absolute;
        cursor: pointer;
        right: 0.18rem;
    }
}
.modulTitle{
    height: 100%;
    line-height: 0.78rem;
    font-size: 0.22rem;
    i{
        font-size: 0.32rem;
        color: @graphic-color4;
        margin: 0 0.18rem 0 0.26rem;
    }
    .el-button {
      padding: .08rem .16rem;
      font-size: .22rem;
      font-family: SiYuan;
    }
}
// 全局红色字体样式
em{
    color: @graphic-color3;
}
// 两行省略样式
.textEllipsis{
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.flexStart{
    display: flex;
    align-items: center;
    justify-content: start;
}
.flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


