@import "./_moduleColor.less";

.conter {
  .conter-left {
    .coner-box {
      height: 100%;
      .box-middle {
        height: calc(~'100% - 1.38rem');
      }
    }
  }
  .conter-middle {
    .coner-box {
      height: calc(~'100% - 1.97rem');
      .box-middle {
        height: calc(~'100% - 1.38rem');
      }
    }
  }
  .conter-right {
    .coner-box {
      height: calc(~'50% - .15rem');
      margin-bottom: 0.15rem;
      &:last-child {
        margin-bottom: 0;
      }
      .box-middle {
        height: calc(~'100% - 1.27rem');
      }
    }
  }
}


// 更新时间
.update-range-time {
  margin-bottom: .25rem;
  text-align: center;
  i {
    float: right;
    margin-right: .49rem;
  }
}

// 数据统计
.number-total {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  border-top: .01rem solid @graphic-color2;
  border-bottom: .01rem solid @graphic-color2;
  padding: 0.25rem 0;
  margin: 0 auto;
  dl {
    flex: 1;
    text-align: center;
    border-right: .01rem solid #ffffff;
    &:last-child {
      border-right-color: transparent;
    }
    dt {
      &:extend(.fSy);
      font-size: .44rem;
      color: @graphic-color4;
    }
    
  }
}




//传播分析
.trans {
  padding-left: .18rem;
  padding-right: .1rem;
  .title {
    text-align: justify;
  }
}


// 最新消息
.new-msg {
  padding-right: .1rem;
}

// 布局重置
.yuQingContainer {
  .conter {
    .conter-middle {
      background:none;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      .middle-top {
        height: 1.88rem;
        padding-top: .08rem;
        box-sizing: border-box;
        margin-bottom: .1rem;
      }
      .coner-wrap {
        width: 100%;
        // height: 6.75rem;
        height: calc(~'100% - 1.98rem');
        padding: 0.22rem;
        box-sizing: border-box;
        background:url(../images/coner_box_pic.png) no-repeat center center;
        background-size: 100% 100%;
        .wrap-top {
          height: 43%;
        }
        .wrap-bottom {
          width: 100%;
          height: 57%;
          display: flex;
          .bottom-left {
            width: 3.2rem;
          }
          .bottom-right {
            flex: 1;
          }
        }
        .body-box {
          height: calc(~'100% - .78rem');
        }
      }
    }
  }
}
