@import "./_moduleColor.less";

body{
  background-color: @theme-color3;
  color: #ffffff;
}






.trans {
  width: 4.48rem;

  .title {
    text-align: justify;
  }
}


// 最新消息
.new-msg {
  width: 4.48rem;
}


.coner-box {
  
}