@import "./_moduleColor.less";

input,textarea {
  font-size: .14rem;
  font-family: SiYuan;
  &::placeholder {
    color: @graphic-color12;
  }
}

.el-button--warning {
  background-color: @graphic-color4;
  border-color: @graphic-color4;
  color: #000000;
}
.el-button--warning:focus, .el-button--warning:hover {
  background-color: @graphic-color4;
  border-color: @graphic-color4;
  color: #000000;
}

.el-button--none {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}
.el-button--none:focus, .el-button--none:hover {
  background-color: @graphic-color4;
  border-color: @graphic-color4;
  color: #000000;
}

.el-input__prefix {
  left: .2rem;
}

.el-input--prefix .el-input__inner {
  padding-left: .54rem;
}

