@import "./_moduleColor.less";

// 按钮
.el-button {
  font-family: SiYuan;
  font-size: .18rem;
}
.el-button--primary {
  background-color: @graphic-color2;
  border-color: @graphic-color2;
}
.el-button--primary:focus, .el-button--primary:hover {
  background-color: @graphic-color2;
  border-color: @graphic-color2;
}
.el-button--warning {
  background-color: @graphic-color4;
  border-color: @graphic-color4;
  color: #000000;
}
.el-button--warning:focus, .el-button--warning:hover {
  background-color: @graphic-color4;
  border-color: @graphic-color4;
  color: #000000;
}

.el-button--none {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}
.el-button--none:focus, .el-button--none:hover {
  background-color: @graphic-color4;
  border-color: @graphic-color4;
  color: #000000;
}


// 弹窗
.whiteColor {
  color: #ffffff;
}
.el-dialog {
  // width: 7.84rem;
  // max-height: 8.8rem;
  background-color: @theme-color3;
  border-radius: .04rem;
}
.el-dialog__header {
  padding: .4rem .6rem .1rem;
}
.el-dialog__body {
  padding: .3rem .6rem;
  max-height: 6.34rem;
  overflow-y: auto;
  overflow: auto;
  .row {
    margin: 0;
    line-height: 1.5;
  }

  &::-webkit-scrollbar {
    // 底色
    width: .08rem;
    background: transparent; 
  }
  &::-webkit-scrollbar-corner, /* 滚动条角落 */
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    border-radius: .04rem;
  }
  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    /* 滚动条轨道 */
    background-color: rgba(180, 160, 120, 0);
    box-shadow: inset 0 0 .01rem rgba(180, 160, 120, 0.5);
  }
  &::-webkit-scrollbar-thumb {
    /* 滚动条手柄 */
    background-color: rgba(255,255,255,.3);
  }
}
.el-dialog__title {
  font-weight: 500;
  font-size: .22rem;
  line-height: normal;
  &:extend(.whiteColor);
  .iconfont {
    font-size: .24rem;
    margin-left: .16rem;
    color: @graphic-color4;
  }
}
.el-dialog__headerbtn {
  top: .24rem;
  right: .24rem;
}
.el-dialog__headerbtn .el-dialog__close {
  &:extend(.whiteColor);
}
.el-dialog__footer {
  padding: .1rem .2rem .4rem;
  .dialog-footer {
    text-align: center;
   .el-button {
     padding: .12rem .42rem;
     font-size: .18rem;
   }
   .el-button+.el-button {
     margin-left: .35rem;
     
   }
   .el-button--warning {
    color: #ffffff;
    }
    .el-button--warning:focus, .el-button--warning:hover {
      color: #ffffff;
    }
  }
}



// 表单form
.el-input__inner {
  height: .4rem;
  background-color: @theme-color;
  border-color: @theme-color;
  font-size: .18rem;
  color: #ffffff;
  &:hover {
    border-color: @graphic-color2;
  }
}
.el-select:hover .el-input__inner {
  border-color: @graphic-color2;
}
.el-form {
  .el-form-item {
    display: flex;
  }
  .el-form-item__label {
    &:extend(.whiteColor);
    width: 1.04rem !important;
    min-width: 98px;
    // padding-top: .12rem;
    font-family: SiYuan;
    font-size: .18rem;
    line-height: .4rem;
    text-align: justify;
  }
  .el-form-item__content {
    width: 100%;
    margin-left: 0 !important;
    line-height: .4rem;
    .el-select .el-input.is-focus .el-input__inner {
      border-color: @graphic-color2;
    }
  }
}
.el-textarea {
  .el-textarea__inner {
    min-height: 1.48rem !important;
    border-radius: .04rem;
    background-color: @theme-color;
    border-color: @theme-color;
    font-size: .14rem;
    color: #ffffff;
    resize: none;
  }
  .el-input__count {
    right: .1rem;
    bottom: .1rem;
    background-color: @theme-color;
    font-size: .14rem;
    line-height: .22rem;
    color: @graphic-color12;
  }
}
input,textarea {
  font-size: .18rem;
  font-family: SiYuan;
  &::placeholder {
    color: @graphic-color12 !important;
  }
}
.el-input__prefix {
  left: .2rem;
}
.el-input--prefix .el-input__inner {
  padding-left: .54rem;
}
.el-form-item__error {
  font-size: .14rem;
  color: @graphic-color3;
}
.el-form-item {
  margin-bottom: .2rem;
}
.el-input__suffix {
  color: @graphic-color1;
  cursor: pointer;
}

//标签
.el-tag {
  height: .4rem;
  margin-right: .18rem;
  margin-bottom: .1rem;
  padding: 0 .1rem;
  font-size: .18rem;
  line-height: .4rem;
  border-radius: .04rem;
  &.el-tag--primary {
    background-color: @graphic-color2;
    border-color: @graphic-color2;
    color: #ffffff;
    .el-icon-close {
      background-color: @graphic-color3;
      line-height: .16rem;
      color: #ffffff;
      &:hover {
        background-color: @graphic-color3;
      }
    }
  }
  
  .el-icon-close {
    width: .18rem;
    height: .18rem;
    right: -.05rem;
    font-size: .12rem;
  }
}

//单选框
.el-radio-group {
  .el-radio-button__inner {
    padding: .13rem .22rem;
    border-color: @graphic-color2;
    background-color: transparent;
    font-size: .18rem;
    color: #ffffff;
  }
  .el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: @graphic-color2;
    border-color: @graphic-color2;
  }
  .el-radio-button:first-child .el-radio-button__inner {
    border-color: @graphic-color2;
  }
}

.el-radio {
  color: #ffffff;
  cursor: pointer;
  margin-right: .4rem;
  .el-radio__inner {
    width: .2rem;
    height: .2rem;
    border-width: .02rem;
    border-color: #ffffff;
    background: transparent;
  }
  .el-radio__label {
    padding-left: .06rem;
  }
  .el-radio__label,.el-radio__input.is-checked+.el-radio__label {
    font-size: .18rem;
    color: #ffffff;
  }
  &.is-checked {
    .el-radio__inner {
      // 选中
      border-color: #ffffff;
      background: transparent;
      &::after {
        width: .1rem;
        height: .1rem;
        background-color: @graphic-color4;
      }
    }
  }
}

// tooltip
.el-tooltip__popper.is-dark {
  background-color: @graphic-color4;
  font-size: .18rem;
  padding: .1rem;
  color: #000000;
}
.el-tooltip__popper .popper__arrow, .el-tooltip__popper .popper__arrow::after {
  border-color: @graphic-color4 transparent transparent transparent !important;
}

// 树
.el-tree {
  background-color: transparent;
  .el-tree-node {
    .el-tree-node__label {
      font-size: .18rem;
      color: #ffffff;
    }
    .el-tree-node__content:hover {
      background-color: transparent;
      .el-tree-node__label {
        color: @graphic-color4;
      }
    }
  }
  
  .el-tree-node:focus>.el-tree-node__content {
    //选中
    background-color: transparent;
    .el-tree-node__label {
      color: @graphic-color4;
    }
    
  }
}
.el-icon-caret-right:before {
  font-family: "iconfont" !important;
  content: "\e621";
  color: #ffffff;
}
.el-tree-node__expand-icon.expanded {
  &::before {
    font-family: "iconfont" !important;
    content: "\e623";
    color: #ffffff;
  }
  transform: none;
}
.el-tree-node__expand-icon.is-leaf {
  &::before {
    color: transparent;
  }
}

.el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: @graphic-color4;
  border-color: @graphic-color4;
}
.el-checkbox__inner {
  border-color: #ffffff;
}
.el-checkbox__inner:hover {
  border-color: @graphic-color4;
}
.el-tree-node.is-focusable.is-checked .el-tree-node__label{
  color: @graphic-color4;
}


// 表格
.el-table {
  background-color: transparent;
  font-size: .18rem;
  border-color: @theme-color;
  color: #ffffff;
  th,tr {
    background-color: transparent;
    color: #ffffff;
  }
  th {
    padding: .04rem 0;
    text-align: center;
  }
  th.is-leaf {
   
    border-color: @theme-color;
    font-weight: normal;
  }
  td {
    padding: .01rem 0;
    border-color: @theme-color !important;
    text-align: center;
  }
}
.el-table--border td {
  border-color: @theme-color;
}

.el-table__fixed-right::before, .el-table__fixed::before, .el-table::before {
  background-color: @theme-color;
}
.el-table__body tr.hover-row>td {
  background-color: transparent !important;
}
.el-button--text {
  font-weight: normal;
  font-size: .18rem;
  color: @graphic-color1;
}


// 日期选择
.el-date-picker__time-header {
  border-color: @graphic-color2;
  font-size: .12rem;
  padding: .08rem .05rem .05rem;
}
.el-picker-panel__body-wrapper {
  background-color: @theme-color;
}
.el-picker-panel__sidebar {
  width: 1.1rem;
  min-width: 110px;
  background-color: @theme-color;  
  border-color: @graphic-color2;
}
.el-picker-panel__footer {
  background-color: @theme-color;
  border-color: @graphic-color2;
  padding: .04rem;
  .el-button.is-plain{
    background-color: @graphic-color4;
    border-color: @graphic-color4;
    color: #000000;
  }
}
.el-picker-panel__shortcut {
  font-size: .18rem;
  line-height: .28rem;
  color: #ffffff;
}
.el-date-table {
  font-size: .14rem;
}
.el-date-table th, .el-date-table__row {
  padding: .05rem;
  color: #ffffff;
}
.el-date-table th {
  border-color: @graphic-color2;
}
.el-date-table td div {
  height: .3rem;
}
.prev-month {
  color: @graphic-color12;
}
.el-popper[x-placement^=top] .popper__arrow {
  border-top-color: @theme-color;
  border-bottom-color: @graphic-color2;
}
.el-popper[x-placement^=top] .popper__arrow::after {
  border-top-color: @theme-color;
}
.el-popper[x-placement^=bottom] .popper__arrow {
  border-bottom-color: @theme-color3;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: @theme-color;
}
.el-picker-panel {
  border-color: @theme-color3;
  line-height: .3rem;
  box-shadow: 0 3px 6px rgba(0,0,0,.52);
  .el-input__inner {
    height: .32rem;
    line-height: .32rem;
    background-color: @theme-color3;
  }
  
}
.el-time-panel {
  width: 1.8rem;
  min-width: 180px;
  background-color: @theme-color;
  border-color: @theme-color;
  box-shadow: 0 3px 6px rgba(0,0,0,.52);
}
.el-time-panel__footer {
  border-color: @graphic-color2;
  padding: .04rem;
  height: .36rem;
  line-height: .25rem;
  .el-time-panel__btn {
    font-size: .14rem;
  }
  .el-time-panel__btn.cancel {
    color: #ffffff;
  }

}
.el-date-table td span {
  width: .24rem;
  height: .24rem;
  line-height: .24rem;
}
.el-time-panel__content::before, .el-time-panel__content::after {
  margin-top: -.08rem;
  height: .32rem;
  padding-top: .06rem;
  border-color: @graphic-color2;
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
  background-color: @theme-color3;
}
.el-time-spinner__item {
  color: @graphic-color12;
  height: .32rem;
  line-height: .32rem;
  font-size: .12rem;
}
.el-time-spinner__item.active:not(.disabled) {
  color: @graphic-color2;
}
.el-picker-panel__icon-btn, .el-date-picker__header-label {
  font-size: .18rem;
  color: @graphic-color2;
}
.el-date-picker.has-sidebar.has-time {
  width: 4.34rem;
  min-width: 434px;
}
.el-date-picker .el-picker-panel__content {
  width: 2.92rem;
}
.el-popper .popper__arrow {
  border-width: .06rem;
}
.el-popper .popper__arrow::after {
  border-width: .06rem;
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
  top: .01rem;
  margin-left: -.06rem;
}
.el-picker-panel__sidebar+.el-picker-panel__body {
  margin-left: 1.1rem;
}
@media screen and (max-height: 1080px) {
  .el-picker-panel__sidebar+.el-picker-panel__body {
    margin-left: 110px;
  }
}
.el-date-table td.in-range div {
  background-color: @graphic-color4;
  &:hover {
    background-color: @graphic-color4;
  }
}
.el-range-editor .el-range-input {
  background-color: @theme-color3;
  color: #ffffff;
  &::placeholder {
    color: @graphic-color12;
  }
}
.el-input.is-disabled .el-input__inner {
  background-color: @theme-color3;
  border-color: @graphic-color2;
  color: @graphic-color12;
}
.el-date-range-picker__time-header {
  border-color: @graphic-color2;
}
.el-date-range-picker__content.is-left {
  border-color: @graphic-color2;
}
.el-date-range-picker__editor,.el-input el-input--small {
  font-size: .14rem;
}
.el-date-range-picker__time-header>.el-icon-arrow-right {
  color: @graphic-color2;
}
.el-date-range-picker__header div {
  color: @graphic-color2;
}
.el-date-editor .el-range__icon, .el-input__icon.el-range__close-icon {
  font-size: .2rem;
  line-height: .4rem;
  color: #ffffff;
}
.el-date-editor .el-range-separator {
  width: 10%;
  padding: 0 .1rem;
  font-size: .18rem;
  line-height: .4rem;
  color: #ffffff;
}
.el-range-editor.el-input__inner {
  padding: .03rem .1rem;
}
// 下拉菜单
.el-select-dropdown {
  border: none;
  box-shadow:0px 3px 6px rgba(0,0,0,0.52);
}
.el-select-dropdown__list {
  background-color: @theme-color;
  border-color: @theme-color;
}
.el-select-dropdown__item {
  font-size: .18rem;
  color: #ffffff;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: @theme-color3;
}
.el-select .el-input .el-select__caret, .el-input__icon {
  width: .25rem;
  font-size: .2rem;
  line-height: .4rem;
  color: @graphic-color2;
}