<%- include('../templates/head') %>
<body>
    
    <div class="yuQingContainer" >
        <!-- 头部 -->
        <%- include('../templates/header') %>
        <div id='analisisForense' class="conter">
            <div class="conter-left">
                <!-- 声量趋势 -->
                <div class="tendencias">
                        
                        <div class="comTitleBox">
                                <div class="modulTitle">
                                        <i class="iconfont iconqushi"></i>
                                        属地舆情研判
                                </div>
                        </div>
                </div>
                <!-- 湖南热点 -->
                <div class="huNanHost">
                    <div class="huNanHost-title comTitleBox">
                        <div class="modulTitle">
                            <i class="iconfont iconredianguanzhu"></i>
                            湖南热点
                        </div>
                    </div>
                </div>
            </div>
            <div class="conter-middle">
                <div class="comTitleBox">
                        <div class="modulTitle">
                                <i class="iconfont iconredianguanzhu"></i>
                                属地舆情研判
                        </div>
                </div>
            </div>
            <div class="conter-right">
                <!-- 情绪分布 -->
                <div class="distribution">
                        <div class="comTitleBox">
                                <div class="modulTitle">
                                        <i class="iconfont iconxiaolian"></i>
                                        情绪分布
                                </div>
                        </div>
                </div>
                <!-- 舆论热词 -->
                <div class="hostWord">
                        <div class="comTitleBox">
                                <div class="modulTitle">
                                        <i class="iconfont iconciyun"></i>
                                        舆论热词
                                </div>
                        </div>
                </div>
            </div>


            
        </div>
        <%- include('../templates/foot') %>
    </div>
   
</body>
<script>
    
        
    </script>
</html>