<%- include('../templates/head') %>

<body>

  <div class="yuQingContainer">
    <!-- 头部 -->
    <%- include('../templates/header') %>
    <div class="conter" id="conter">
      <el-button type="text" @click="dialogFormVisible = true">打开嵌套表单的 Dialog</el-button>

      <el-dialog :visible.sync="dialogFormVisible"  :width="showPreview?'15.8rem':'7.84rem'" class="basic-dialog">
        <div slot="title" class="el-dialog__title">
          <div class="left">
           <div class="head">
            收获<el-tooltip class="item" effect="dark" content="Right Center 提示文字" placement="top">
              <i class="iconfont iconzu8"></i>
           </div>
          </div>
          <div class="right" v-show="showPreview">
            <div class="head">
              数据预览
            </div>
          </div>
        </div>
        <!-- 单选框 -->
        <div style="display: flex;width: 100%;">
          <div class="left f18" style="flex: 1;">左边</div>
          <div class="right f18" style="flex: 1;" v-show="showPreview">右边</div>
        </div>
        <div slot="footer" class="dialog-footer">
          <div class="left footer">
            <el-button type="success" @click="showPreview = true">数据预览</el-button>
            <el-button type="warning" @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
          </div>
          <div class="right footer" v-show="showPreview">
            <el-button type="primary" @click="showPreview=false">确 定</el-button>
          </div>
        </div>
      </el-dialog>
    </div>
    <%- include('../templates/foot') %>
  </div>

</body>
<script>
  var vm_container = new Vue({
    el: '#conter',
    delimiters: ['${', '}'],
    data() {
      return {
        showPreview: true,
        gridData: [{
          date: '2016-05-02',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          address: '上海市普陀区金沙江路 1518 弄'
        }],
        dialogFormVisible: true,
        ruleForm: {
          name: '',
          region: '',
          date: '',
          date2: '',
          delivery: false,
          source: '',
          type: [],
          isNeed: '',
          desc: ''
        },
        rules: {
          name: [
            { required: true, message: '请输入活动名称', trigger: 'blur' },
            { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          region: [
            { required: true, message: '请选择活动区域', trigger: 'change' }
          ],
          date1: [
            { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
          ],
          date2: [
            { type: 'date', required: true, message: '请选择时间', trigger: 'change' }
          ],
          type: [
            { type: 'array', required: true, message: '请至少选择一个活动性质', trigger: 'change' }
          ],
          isNeed: [
            { required: true, message: '请选择匹配项', trigger: 'change' }
          ],
          source: [
            { required: true, message: '默认数据来源不能为空', trigger: 'change' }
          ],
          desc: [
            { required: true, message: '请填写活动形式', trigger: 'blur' }
          ]
        },

        tags: [
          { name: '标签一', type: 'primary' },
          { name: '标签二', type: 'primary' },
          { name: '标签三', type: 'primary' },
          { name: '标签四', type: 'primary' },
          { name: '标签五', type: 'primary' }
        ],
        radio1: 1,
        radio: '1',

        props: {
          label: 'name',
          children: 'zones'
        },
        count: 1,
        input2: '',
        preview: 1,

        tableData: [{
          date: '2016-05-02',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1518 弄',
          zip: 200333
        }, {
          date: '2016-05-04',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1517 弄',
          zip: 200333
        }, {
          date: '2016-05-01',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1519 弄',
          zip: 200333
        }, {
          date: '2016-05-03',
          name: '王小虎',
          province: '上海',
          city: '普陀区',
          address: '上海市普陀区金沙江路 1516 弄',
          zip: 200333
        }],

        value2: '',
        pickerOptions: {
          shortcuts: [{
            text: '今天',
            onClick(picker) {
              picker.$emit('pick', new Date());
            }
          }, {
            text: '前三天',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 3);
              picker.$emit('pick', date);
            }
          }, {
            text: '最近七天',
            onClick(picker) {
              const date = new Date();
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', date);
            }
          }]
        },
      };
    },
    computed: {
      dialogWidth() {
        // return '7.84rem'
        return '15.8rem'

      }
    },
    methods: {
      handleClose(tag) {
        this.tags.splice(this.tags.indexOf(tag), 1);
      },

      handleCheckChange(data, checked, indeterminate) {
        console.log(data, checked, indeterminate);
      },
      handleNodeClick(data) {
        console.log(data);
      },
      loadNode(node, resolve) {
        if (node.level === 0) {
          return resolve([{ name: 'region1' }, { name: 'region2' }]);
        }
        if (node.level > 3) return resolve([]);

        var hasChild;
        if (node.data.name === 'region1') {
          hasChild = true;
        } else if (node.data.name === 'region2') {
          hasChild = false;
        } else {
          hasChild = Math.random() > 0.5;
        }

        setTimeout(() => {
          var data;
          if (hasChild) {
            data = [{
              name: 'zone' + this.count++
            }, {
              name: 'zone' + this.count++
            }];
          } else {
            data = [];
          }

          resolve(data);
        }, 500);
      },
      handleClick(row) {
        console.log(row);
      },

      submitForm(formName) {
        // this.dialogFormVisible = false;
        console.log(this.ruleForm.isNeed)
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      CellName({ row, column, rowIndex, columnIndex }) {
        console.log(columnIndex)
        if (columnIndex == 0) {
          return "color: #F3AF1B;"
        }

      }
    }
  })

</script>

</html>