<%- include('../templates/head') %>

<body>
  <div class="trans">
    <ul class="dot-line-list f18">
      <li>
        <p class="title">
          疫情防护战：湖南设计院紧急驰援湘潭防护服生产厂建设工作
        </p>
        <dl class="dl-info">
          <dt>
            <span class="source">澎湃新闻</span>
            <span class="time">03-03  13:18</span>
          </dt>
          <dd>
            <span class="read-status">已读<i class=""></i></span>
          </dd>
        </dl>
      </li>
      <li>
        <p class="title">
          疫情防护战：湖南设计院紧急驰援湘潭防护服生产厂建设工作
        </p>
        <dl class="dl-info">
          <dt>
            <span class="source">澎湃新闻</span>
            <span class="time">03-03  13:18</span>
          </dt>
          <dd>
            <span class="read-status">已读<i class=""></i></span>
          </dd>
        </dl>
      </li>
      <li>
        <p class="title">
          疫情防护战：湖南设计院紧急驰援湘潭防护服生产厂建设工作
        </p>
        <dl class="dl-info">
          <dt>
            <span class="source">澎湃新闻</span>
            <span class="time">03-03  13:18</span>
          </dt>
          <dd>
            <span class="read-status">已读<i class=""></i></span>
          </dd>
        </dl>
      </li>
    </ul>

  </div>
  <%- include('../templates/foot') %>
</body>

</html>