<%- include('../templates/head') %>

<body>

  <div class="yuQingContainer" v-cloak>
    <%- include('../templates/header') %>

    <div class="conter">

      <!-- 切角容器 -->
    <div class="coner-box">
      <div class="box-top head-flex">
        <div class="head">
          <span><i class="iconfont iconlujing5"></i>区域排行</span>
        </div>
      </div>
      <div class="box-middle">
        <div class="chart-box" style="height: 200px;"></div>
        <div class="head-flex" style="background-color:#2F5296 ;">
          <div class="head">
            <span><i class="iconfont iconlujing5"></i>区域排行</span>
          </div>
          <div class="head">
            <span><i class="iconfont iconciyun"></i>舆论热词</span>
            <i class="iconfont iconlujing1"></i>
          </div>
        </div>
        <div class="chart-box" style="height: 200px;"></div>
      </div>
      <div class="box-bottom"></div>
    </div>

      <div class="trans">
        <ul class="dot-line-list f18">
          <li class="active">
            <p class="title">
              <a href="javascript:;">疫情防护战：湖南设计院紧急驰援湘潭防护服生产厂建设工作</a>
            </p>
            <dl class="dl-info">
              <dt>
                <span class="source">澎湃新闻</span>
                <span class="time">03-03 13:18</span>
              </dt>
              <dd>
                <span class="read-status">已读<i class=""></i></span>
              </dd>
            </dl>
          </li>
          <li>
            <p class="title">
              <a href="javascript:;">疫情防护战：湖南设计院紧急驰援湘潭防护服生产厂建设工作</a>
            </p>
            <dl class="dl-info">
              <dt>
                <span class="source">澎湃新闻</span>
                <span class="time">03-03 13:18</span>
              </dt>
              <dd>
                <span class="read-status no-read"><i class="iconfont iconlujing6"></i>未读</span>
              </dd>
            </dl>
          </li>
          <li>
            <p class="title">
              <a href="javascript:;">疫情防护战：湖南设计院紧急驰援湘潭防护服生产厂建设工作</a>
            </p>
            <dl class="dl-info">
              <dt>
                <span class="source">澎湃新闻</span>
                <span class="time">03-03 13:18</span>
              </dt>
              <dd>
                <span class="read-status"><i class="iconfont iconlujing7"></i>已读</span>
              </dd>
            </dl>
          </li>
        </ul>

      </div>
    </div>

    <!-- 最新消息start -->
    <div class="new-msg">
      <ul class="sort-list f18">
        <li>
          <div>
            <span class="suqare f14">1</span>
          </div>
          <div class="content">
            <p class="title">
              <a href="javascript:;">王忠林主持召开市防控指挥部视频会议 保持定力 慎终如始 统筹做好疫情防控各项工作</a>
            </p>
            <dl class="dl-info">
              <dt>
                <span class="source">澎湃新闻</span>
              </dt>
              <dd>
                <span class="time">03-03  13:18</span>
              </dd>
            </dl>
          </div>
        </li>
        <li>
          <div>
            <span class="suqare f14">1</span>
          </div>
          <div class="content">
            <p class="title">
              <a href="javascript:;">王忠林主持召开市防控指挥部视频会议 保持定力 慎终如始 统筹做好疫情防控各项工作</a>
            </p>
            <dl class="dl-info">
              <dt>
                <span class="source">澎湃新闻</span>
              </dt>
              <dd>
                <span class="time">03-03  13:18</span>
              </dd>
            </dl>
          </div>
        </li>
      </ul>
    </div>

    
  </div>
  </div>

  <%- include('../templates/foot') %>
</body>

</html>