<%- include('../templates/head') %>
<body>
	<%- include('../templates/header') %>
    <div class="warning-container">
		<div class="warning-warp flex">
			<div class="left-warp">
				<div class="left-top">
					<div class="title-tip">
						<span><i></i></span>
						<span>预警趋势</span>
					</div>
					<div class="line-charts">
						
					</div>
				</div>
				<div class="left-bottom">
					
				</div>
			</div>
			<div class="center-warp">
				<div class="center-top">
					
				</div>
				<div class="center-bottom">
					
				</div>
			</div>
			<div class="right-warp">
				<div class="right-top">
					
				</div>
				<div class="right-bottom">
					
				</div>
			</div>
		</div>
		<%- include('../templates/footer') %>
		<%- include('../templates/foot') %>
	</body>
</html>
