
/*属性变量*/
.warning-warp.conter {
	
	// 中间
	.conter-middle-reset {
		.middle-top{
			position: relative;
			
			// 更新时间
			.update-range-time {
			  text-align: center;
			  i {
			    float: right;
			    margin-right: .49rem;
			  }
			}
			
			.iconlujing1{
				position: absolute;
				right: .4rem;
			}
		}
		
		// 时间
		.analysis-time {
			justify-content: center;
			width: 3.6rem;
			display: flex;
			align-items: center;
			margin: 0 auto .1rem;
			
			ul {
				flex: 1;
				
				li {
					padding: 0 0.1rem;
					display: inline-block;
					margin: 0 0.04rem;
					cursor: pointer;
					&.active{
						color: @graphic-color1;
						border-radius: 50px;
						border: 1px solid @graphic-color1;
					}
					&:last-child{
						margin: 0;
					}
				}
			}
		}
		
		.coner-wrap .wrap-top {
			height: 100%;
			position: relative;
			
			.comTitleBox {
				justify-content: space-between;
				
				.modulSelect {
					padding: 0 0.6rem;
					
					.el-select{
						width: 1.2rem;
						height: 0.51rem;
						border-radius: 3px;
						
						.el-input input {
							background: #1B418D;
							border-color: #1B418D;
						}
					}
				}
			}
			
			.sort-list{
				padding: 0 0rem 0 0.05rem;
				
				height: calc(~'100% - .9rem');
				.content {
					width: calc(100% - .36rem);
				}
			}
		}
		
		
	}	
	// 图表
	.warncharts{
		height: calc(~'100% - .78rem');
		box-shadow: 0 0 black;
	}
	
}

// 数据统计
.number-total {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: .01rem solid @graphic-color2;
  border-bottom: .01rem solid @graphic-color2;
  padding: 0.25rem 0;
  margin: 0 auto;
  dl {
	flex: 1;
	text-align: center;
	border-right: .01rem solid #ffffff;
	&:last-child {
	  border-right-color: transparent;
	}
	dt {
	  &:extend(.fSy);
	  font-size: .44rem;
	  color: @graphic-color4;
	}
	
  }
}





