
/*属性变量*/
.warning-warp {
	.analysis-time {
		justify-content: center;
		width: 3.5rem;
		display: flex;
		align-items: center;
		margin: 0 auto .1rem;
		
		ul {
			flex: 1;
			
			li {
				padding: 0 0.1rem;
				display: inline-block;
				margin: 0 0.04rem;
				cursor: pointer;
				&.active{
					color: @graphic-color1;
					border-radius: 50px;
					border: 1px solid @graphic-color1;
				}
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	
	.sort-list{
		padding: 0 .07rem;
		
		.content {
			width: calc(100% - .36rem);
		}
	}
}




// 更新时间
.update-range-time {
  text-align: center;
  i {
    float: right;
    margin-right: .49rem;
  }
}
.number-total {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.4rem;
  border-top: .01rem solid @graphic-color2;
  border-bottom: .01rem solid @graphic-color2;
  padding: 0.25rem 0;
  margin: 0 auto .1rem;
  dl {
    flex: 1;
    text-align: center;
    border-right: .01rem solid #ffffff;
    &:last-child {
      border-right-color: transparent;
    }
    dt {
      &:extend(.fSy);
      font-size: .44rem;
      color: @graphic-color4;
    }
    
  }
}

