<nav id='app'>
        <div class="container">
            <div class="navbar-header flexBetween">
                <div class="navbar-title flexStatr">
                    <div class="navbarIcon">图</div>
                    <span class="navbar-line"></span>
                    <h2>${pageDetail.name}</h2>
                    <div class="seachInput" v-if='pageDetail.seachInput'>dfsadfasdf</div>
                </div>
                <div class="navbar-right flexAround">
                        <div class="navbar-time">
                            ${year}年${month}月${day}日 
                            <span class="timer-week">${Week}</span> 
                            <span class="time-hours">${hours+':'+minutes+":"+seconds}</span>
                        </div>
                        <div class="navbar-user flexAround">
                            <img src="#" alt="" class="userImg">
                             paul Sadler
                        </div>
                        <!-- 数据整理 -->
                        <div class="navbar-Ordenar rightIcon" @click='pageDetail.ordenar=!pageDetail.ordenar'>
                            <div class="topTooltip">数据整理</div>
                            整
                        </div> 
                        <div class="navbar-setting rightIcon"  @click='pageDetail.setting=!pageDetail.setting'>
                            <div class="topTooltip">基础设置</div>
                            设
                        </div> 
                        <div class="navbar-signOut rightIcon"  @click='signOut'>
                            <div class="topTooltip">退出登录</div>
                            退
                        </div> 
                </div>
            </div>
        </div>
    </nav>
